<%-include('partials/header_admin'); %>

    <div class="main col-10 col-sm-8 col-lg-6 mx-auto">
        <h4 class="my-5">Add Schedule</h4>
        <div class="add_regular_schedule">
            <form action="/add_regular_schedule" method="post">

                <div class="mb-3 row">
                    <label for="academic_year" class="col-sm-3 col-form-label">Academic Year</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="academic_year"
                            name="academic_year" required>
                            <option><%= defaultOptions.academic_year %></option Default>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="semester" class="col-sm-3 col-form-label">Semester</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="semester" name="semester"
                            required>
                            <% if (defaultOptions.semester == "odd"){ %>
                            <option value="odd">Odd</option Default>
                            <option value="even">Even</option>
                            <% } else { %>
                            <option value="odd">Odd</option>
                            <option value="even">Even</option Default>
                            <% } %>
                        </select>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label for="year" class="col-sm-3 col-form-label">Year</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="year" name="year" required>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="programme" class="col-sm-3 col-form-label">Programme</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="programme" name="programme"
                            required>
                            <option value=""></option>
                            <option value="MSc SS">MSc Software Systems</option>
                            <option value="MSc TCS">MSc Theoretical Computer Science</option>
                            <option value="MSc DS">MSc Data Science</option>
                            <option value="MSc CS">MSc Cyber Security</option>
                            <option value="MSc AM">MSc Applied Mathematics</option>
                            <option value="BSc CSD">BSc CSD</option>
                            <option value="BSc AS">BSc Applied Science</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="lab" class="col-sm-3 col-form-label">Lab Name</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="lab" name="lab"
                            required>
                            <option value=""></option>
                            <option value="CSL1">CSL1</option>
                            <option value="CSL2">CSL2</option>
                            <option value="CSL3">CSL3</option>
                            <option value="DSL">DSL</option>
                            <option value="NSL">NSL</option>
                            <option value="IIL">IIL</option>
                            <option value="OCL">OCL</option>
                            <option value="SKAVA">SKAVA</option>
                            <option value="SCL">SCL</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="day" class="col-sm-3 col-form-label">Day</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="day" name="day" required>
                            <option value=""></option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="from" class="col-sm-3 col-form-label">From period</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="from" name="from" required>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="to" class="col-sm-3 col-form-label">To period</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="to" name="to" required>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                        <div class="text-danger p-2 d-none" id="invalidTo">Invalid To period</div>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-block request" type="submit" name="submit" value="Submit" id="submitBtn">
                </div>

            </form>
        </div>
    </div>

<script>

    const to = document.getElementById('to');

    to.addEventListener('change', (e) => {
        console.log("out");
        const from = document.getElementById('from').value,
            to = e.target.value,
            invalidTo = document.getElementById('invalidTo'),
            submitBtn = document.getElementById('submitBtn');

        if(from > to) {
            invalidTo.classList.remove('d-none');
            submitBtn.disabled = true;
        }
        else {
            invalidTo.classList.add('d-none');
            submitBtn.disabled = false;
        }
    });

</script>

<%-include ('partials/footer_admin'); %>