<%-include('partials/header')%>

    <div class="main rounded col col-md-8 col-lg-7 mx-auto">
        <h4 class="my-4">Biometric Entry Details</h4>
        <div class="">
            <form action="/biometric" method="post">
                <div class="mb-3 row">
                    <label for="year" class="col-sm-3 col-form-label">Year</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="year" name="year" required>
                            <option></option>
                            <option>2022</option>
                            <option>2021</option>
                            <option>2020</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option value="">All</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="programme" class="col-sm-3 col-form-label">Programme</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="programme" name="programme"
                            required>
                            <option value=""></option>
                            <option value="ss">Software Systems</option>
                            <option value="tcs">Theoretical Computer Science</option>
                            <option value="ds">Data Science</option>
                            <option value="cs">Cyber Security</option>
                            <option value="am">Applied Mathematics</option>
                            <option value="csd">CSD</option>
                            <option value="as">Applied Science</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="fdate" class="col-sm-3 col-form-label">From Date</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="fdate" name="fdate" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="tdate" class="col-sm-3 col-form-label">To Date</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="tdate" name="tdate" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="month" class="col-sm-3 col-form-label">Month</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="month" name="month" required>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-block request" type="submit" name="Submit" value="Submit">
                </div>

            </form>
        </div>
    </div>

<%-include('partials/footer')%>