<%-include ('partials/header'); %>
<div class="col-xl-10 container">
    <div class="bg-white rounded p-4 mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h4 class="mb-4 text-purple">Hello, Dr. SENTHIL KUMARAN V!</h4>
                <p>Welcome to Nucleus Lab manager, an all-purpose digital platform for the department of Applied Mathematics and Computational Sciences, to enable effective utilization of the lab facilities.
                <br>We are still running on the Beta version. Hence, feel free to report any bugs that need resolving.</p>
            </div>
            <div class="col-md-6 col-lg-5 text-center">
                <img src="images/intro.png" class="w-75 w-md-50" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-5">
            <h4 class="fw-bold heading">You recently booked</h4>
            <div class="container bg-white rounded py-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="fw-bold">NSL</div>
                            Period: 3 - 4, Jul 08 2022
                        </div>
                        <div>
                            <a href="#" class="text-decoration-none">
                                <span style="color: #5853BC;">VIEW</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="fw-bold">CSL-1</div>
                            Period: 1 - 2, Jul 24 2022
                        </div>
                        <div>
                            <a href="#" class="text-decoration-none">
                                <span style="color: #5853BC;">VIEW</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="fw-bold">DSL</div>
                            Period: 5 - 7, Jul 29 2022
                        </div>
                        <div>
                            <a href="#" class="text-decoration-none">
                                <span style="color: #5853BC;">VIEW</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="fw-bold">NSL</div>
                            Period: 3 - 4, Aug 08 2022
                        </div>
                        <div>
                            <a href="#" class="text-decoration-none">
                                <span style="color: #5853BC;">VIEW</span>
                            </a>
                        </div>
                    </li>
                    
                  </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="fw-bold heading">Labs</h4>
            <div class="container bg-white rounded py-2 mb-5">
                <div class="row">
                    <div class="col text-center">
                        <div>currently free</div>
                        <span class="fs-1 fw-bold text-purple">4</span>
                    </div>
                    <div class="col text-center">
                        <div>currently occupied</div>
                        <span class="fs-1 fw-bold text-purple">6</span>
                    </div>
                </div>
            </div>
            <h4 class="fw-bold heading">Login requests status</h4>
            <div class="container bg-white rounded py-3 mb-5">
                <div class="row">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="pe-3">
                                <span class="fw-bold">21PT</span> Period: 3 - 4, Aug 29 2022
                            </div>
                            <span class="fs-6 badge bg-success rounded-pill">Confirmed</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="pe-3">
                                <span class="fw-bold">20PW</span> Period: 3 - 4, Aug 31 2022
                            </div>
                            <span class="fs-6 badge bg-purple rounded-pill">Accepted</span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
        
</div>

<%- include('partials/footer'); %>
