<%-include ('partials/header_admin'); %>

<div class="col-xl-9 container">
    <div class="bg-white rounded p-4 mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h4 class="mb-4 text-purple">Hello, Dr. SENTHIL KUMARAN V!</h4>
                <p>Welcome to Nucleus Lab manager, an all-purpose digital platform for the department of Applied Mathematics and Computational Sciences, to enable effective utilization of the lab facilities.
                <br>We are still running on the Beta version. Hence, feel free to report any bugs that need resolving.</p>
            </div>
            <div class="col-md-6 col-lg-5 text-center">
                <img src="images/intro.png" class="w-75 w-md-50" alt="">
            </div>
        </div>
    </div>        
</div>

<%-include ('partials/footer'); %>