<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab booking</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/forms.css">

</head>

<body>
    <div class="main col-10 col-sm-8 col-lg-6 mx-auto">
        <h4 class="my-5">Login Request</h4>
            <div class="login-req-form">
                <form action="/login_request" method="post">
        
                    <div class="mb-3 row">
                        <label for="year" class="col-sm-3 col-form-label">Year</label>
                        <div class="col-sm-9">
                            <select class="form-select" aria-label="Default select example" id="year" name="year" required>
                                <option ></option>
                                <option >2022</option>
                                <option >2021</option>
                                <option >2020</option>
                                <option >2019</option>
                                <option >2018</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label for="programme" class="col-sm-3 col-form-label">Programme</label>
                        <div class="col-sm-9">
                            <select class="form-select" aria-label="Default select example" id="programme" name="programme" required>
                                <option value=""></option>
                                <option value="ss">Software Systems</option>
                                <option value="tcs">Theoretical Computer Science</option>
                                <option value="ds">Data Science</option>
                                <option value="cs">Cyber Security</option>
                                <option value="am">Applied Mathematics</option>
                                <option value="csd">CSD</option>
                                <option value="as">Applied Science</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="mb-3 row">
                        <label for="date" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                          <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label for="from" class="col-sm-3 col-form-label">From period</label>
                        <div class="col-sm-9">
                            <select class="form-select" aria-label="Default select example" id="from" name="from" required>
                                <option ></option>
                                <option >1</option>
                                <option >2</option>
                                <option >3</option>
                                <option >4</option>
                                <option >5</option>
                                <option >6</option>
                                <option >7</option>
                                <option >8</option>
                                <option >9</option>
                                <option >10</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="mb-3 row">
                        <label for="to" class="col-sm-3 col-form-label">To period</label>
                        <div class="col-sm-9">
                            <select class="form-select" aria-label="Default select example" id="to" name="to" required>
                                <option ></option>
                                <option >1</option>
                                <option >2</option>
                                <option >3</option>
                                <option >4</option>
                                <option >5</option>
                                <option >6</option>
                                <option >7</option>
                                <option >8</option>
                                <option >9</option>
                                <option >10</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="mb-3 row">
                        <label for="type" class="col-sm-3 col-form-label">Type</label>
                        <div class="col-sm-9">
                            <select class="form-select" aria-label="Default select example" id="type" name="type" required>
                                <option ></option>
                                <option value="windows">Windows</option>
                                <option value="linux">Linux</option>
                                <option value="oracle">Oracle</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="mb-3 row">
                        <label for="noOfLogins" class="col-sm-3 col-form-label">No. of Logins</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" id="noOfLogins" name="noOfLogins" required>
                        </div>
                    </div>
        
                    <div class="mb-3 row">
                        <label for="tools" class="col-sm-3 col-form-label">Tools needed</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="tools" name="tools">
                        </div>
                    </div>
        
                    <div class="text-center">
                        <input class="btn btn-block request" type="submit" name="request" value="Request">
                    </div>

                </form>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>